<button (click)="toggle()">
  @if (themeService.currentTheme == themes.LIGHT) {
    <!-- Moon Icon -->
    <div
      class="cursor-pointer bg-gray-100 hover:bg-gray-700/50 p-2 rounded-full transition-colors"
    >
      <app-moon-icon
        size="20"
        fill="var(--textColor)"
        class="bi bi-moon-fill"
      />
    </div>
  } @else {
    <!-- Sun Icon -->
    <div
      class="cursor-pointer bg-gray-900 hover:bg-gray-400/50 p-2 rounded-full transition-colors"
    >
      <app-sun-icon size="20" fill="var(--textColor)" class="bi bi-moon-fill" />
    </div>
  }
</button>
