<article class="mx-1 my-2 md:my-0 p-4 primary-color rounded-xl shadow-xl">
  @for (item of activeNotes().arrayNotes(); track item.id) {
    <div
      [ngClass]="{
        'translucent-secondary-color':
          item.id != activeNotes().currentNote().id,
        'tertiary-color': item.id == activeNotes().currentNote().id,
      }"
      class="cursor-pointer flex items-center justify-between rounded-md p-2 mb-1"
      (click)="onClickNote(item)"
    >
      <div class="flex gap-1 items-center truncate text-ellipsis">
        @if (item.type == "combined" || item.type == "") {
          <app-file-icon />
        } @else if (item.type == "text") {
          <app-file-text-icon />
        } @else {
          <app-file-image-icon />
        }
        <span class="">
          {{
            item.title ||
              item.text ||
              (item.content.includes("&lt;img src") ? "Image Attached" : "")
          }}
        </span>
      </div>
      <button
        (click)="onDeleteNote(item, $event)"
        class="cursor-pointer hover:bg-gray-200/50 p-2 rounded-full transition"
      >
        <app-delete-icon
          style="color: var(--redColor)"
          fill="var(--redColor)"
        />
      </button>
    </div>
  } @empty {
    <div
      class="translucent-secondary-color text-center rounded-md px-2 py-10 mb-1"
    >
      {{ emptyListText() }}
    </div>
  }
</article>
