@use "tailwindcss";
@use "ngx-toastr/toastr" as toastr;
@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

$bgColor_light: #cce3de;
$textColor_light: #252627; // Eerie Black
$primaryColor_light: #6b9080;
$primaryColor_light_hover: #557566;
$secondaryColor_light: #a4c3b2;
$tertiaryColor_light: #f6fff8;
$blue_light: #1b2f53;
$blue_light_hover: #152544;
$red_light: #8b0000;

$bgColor_dark: #243533;
$textColor_dark: #dcefe6;
$primaryColor_dark: #46645a;
$primaryColor_dark_hover: #577a6e;
$secondaryColor_dark: #32463d;
$tertiaryColor_dark: #1a2220;
$blue_dark: #4a6fb3;
$blue_dark_hover: #5786d1;
$red_dark: #b22222;

@mixin lighten() {
  --bgColor: #{$bgColor_light};
  --textColor: #{$textColor_light};
  --primaryColor: #{$primaryColor_light};
  --primaryHoveredColor: #{$primaryColor_light_hover};
  --secondaryColor: #{$secondaryColor_light};
  --translucentSecondaryColor: #{rgba($secondaryColor_light, 0.8)};
  --tertiaryColor: #{$tertiaryColor_light};
  --blueColor: #{$blue_light};
  --blueHoveredColor: #{$blue_light_hover};
  --redColor: #{$red_light};
  --borderColor: #{$primaryColor_light};
}

// mixin that enables css variables in dark mode
@mixin darken() {
  --bgColor: #{$bgColor_dark};
  --textColor: #{$textColor_dark};
  --primaryColor: #{$primaryColor_dark};
  --primaryHoveredColor: #{$primaryColor_dark_hover};
  --secondaryColor: #{$secondaryColor_dark};
  --translucentSecondaryColor: #{rgba($secondaryColor_dark, 0.8)};
  --tertiaryColor: #{$tertiaryColor_dark};
  --blueColor: #{$blue_dark};
  --blueHoveredColor: #{$blue_dark_hover};
  --redColor: #{$red_dark};
  --borderColor: #{$primaryColor_dark};
}

body {
  font-family: "Sour Gummy", sans-serif;
}

body.dark {
  @include darken();
  background-color: var(--bgColor);
  color: var(--textColor);
}
body.light {
  @include lighten();
  background-color: var(--bgColor);
  color: var(--textColor);
}

// Text Component
.NgxEditor__Content {
  h1 {
    font-size: 2.25rem;
    font-weight: 700;
  }
  h2 {
    font-size: 1.875rem;
    font-weight: 700;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  h4 {
    font-size: 1.25rem;
    font-weight: 700;
  }
  h5 {
    font-size: 1.125rem;
    font-weight: 700;
  }
  h6 {
    font-size: 1rem;
    font-weight: 700;
  }
  ol {
    list-style-type: revert;
    margin: revert;
    padding-left: revert;
  }
  ul {
    list-style-type: revert;
    margin: revert;
    padding-left: revert;
  }
  a {
    color: revert;
    text-decoration: revert;
  }
  min-height: 13rem;
}

.NgxEditor__MenuBar {
  background-color: var(--bgColor) !important;
}

.NgxEditor__Dropdown,
.NgxEditor__Dropdown--Selected {
  border-radius: 3px !important;
  transition: all ease-in-out;
  transition-duration: 200ms;
}
.NgxEditor__Dropdown--DropdownMenu {
  overflow: hidden;
}

.NgxEditor__Dropdown--Item,
.NgxEditor__Popup--FormGroup {
  color: #{$textColor_light} !important;
}

.NgxEditor__MenuItem:hover,
.NgxEditor__Dropdown:hover {
  color: #{$textColor_light} !important;
  cursor: pointer;
}

.NgxEditor__Popup--Col > input {
  color: #{$textColor_light};
  background-color: #{$tertiaryColor_light};
  border: 1px solid #364153 !important; // border-grey-700
  border-radius: 0.375rem; // rounded-md
}

.NgxEditor__Popup--Form > button,
.NgxEditor__MenuItem--Button {
  background-color: #{$primaryColor_light};
  padding: 3px 5px;
  border-radius: 0.375rem;
  color: #{$tertiaryColor_light};
  cursor: pointer;
}

.NgxEditor__Popup--Form > button:hover,
.NgxEditor__MenuItem--Button:hover {
  background-color: #{$primaryColor_light_hover};
}
